{% extends 'main/layout.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
        <a href="{% url 'new-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'new-update' article.id %}" class="btn btn-info">Редактировать</a>
        <a href="/new/" class="btn btn-info">Вернуться назад</a>
    </div>
{% endblock %}