body {
    background: #cd7f32;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #000000;
    border-right: 5px solid #4c3c18;
}

aside img {
    width: 80 px;
    float: left;
}

aside .logo{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -5px
}

aside h3 {
    margin-top: 30px;
    font-size: 30px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 30px;
    font-size: 20px;
    transition: all .6s ease;
    }

aside ul li:hover, aside ul a:hover {
    color: #cd7f32;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 60px;}
main .features p {max-width: 400px; margin: 40px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 37%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}